PORT=3000
ADEME_API_URL=https://data.ademe.fr/data-fair/api/v1/datasets/dpe03existant/lines
CORS_CHROME_ORIGIN=chrome-extension://your-chrome-extension-id
CORS_FIREFOX_ORIGIN=moz-extension://your-firefox-extension-id
